html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 100%;
}

.App {
  margin: 2rem;
  text-align: center;

  // make text not selectable
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

// global styles @jonaklaro

// .selected {
//   // blue border
//   border: 2px solid #0000ff !important;
// }

// .dragging {
//   // red border
//   border: 2px solid #ff0000 !important;
// }

// .dragging-smt {
//   // red border
//   border: 2px solid #400000 !important;
// }

// .dragging-over {
//   // green border
//   border: 2px solid #00ff00 !important;
// }

// .destination-tracks {
//   // green background
//   background-color: #004000 !important;
// }

// .destination-dropin {
//   // red background
//   background-color: #400000 !important;
// }

// .destination-nodes {
//   // blue background
//   background-color: #000040 !important;
// }

// .destination-index {
//   // yellow background
//   background-color: #404000 !important;
// }

// .source-tracks {
//   // green text
//   color: #004000 !important;
// }

// .source-dropin {
//   // red text
//   color: #400000 !important;
// }

// .source-nodes {
//   // blue text
//   color: #000040 !important;
// }

// .source-index {
//   // yellow text
//   color: #404000 !important;
// }
