// style={{
//           position: 'absolute',
//           height: '100%',
//           width: '100%',
//         }}>

.canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

// style={{
//         position: 'absolute',
//         top: 0,
//         left: 0,
//         width: '100%',
//         height: '100%',
//       }}>

.app {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

// {
//   width: '100vw',
//   height: '100vh',
// }
.error {
  width: 100vw;
  height: 100vh;
}

// style={{
//       position: 'absolute',
//       top: 0,
//       left: 0,
//       width: '100%',
//       height: '100%',
//       backgroundColor: 'var(--background-color)',
//       overflow: 'hidden',
//     }}

.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  overflow: hidden;
}
