@import 'Colors.scss';

.banner-container {
  width: 100%;
  height: auto;
  position: relative;
}

.banner-container > div {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
}

.banner-container > div > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
