@import 'Colors.scss';

.projectList {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  color: $text-color;
  height: 50%;
}

.projectList h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.projectContainer {
  height: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  overflow-y: scroll;
  // height: 65vh;
}

.project {
  padding: 20px;
  background-color: $light-color;
  border: 1px solid $light-color;
  box-shadow: $box-shadow;
  transition: all 0.3s ease-in-out;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: $box-shadow;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.projectLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectLinks a {
  font-size: 16px;
  color: $text-color;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.projectLinks a:hover {
  color: $primary-color;
}
