$theme: var(--theme);
$box-shadow: var(--box-shadow);
$text-color: var(--text-color);
$background-color: var(--background-color);
$dark-color: var(--dark-color);
$light-color: var(--light-color);
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
