@import 'Colors.scss';

// <div className={styles.container}>
//   <h1 className={styles.title}>Welcome!</h1>
//   <h2 className={styles.subtitle}> {count} </h2>
//   {is42 ? (
//     <Link href="/" />
//   ) : (
//     <button className={styles.button} onClick={handlePress}> Click Me </button>
//   )}
// </div>

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  background-color: $light-color;
  color: $dark-color;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}

.button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $dark-color;
  color: $light-color;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $light-color;
    color: $dark-color;
  }
}
