@import 'Colors.scss';
.toggleTheme {
  // button should be 50px by 50px
  width: 50px;
  height: 50px;

  // button should have a border radius of 50%
  border-radius: 50%;
  // button should have a border of 1px
  border: 1px solid $light-color;
  box-shadow: $box-shadow;

  // button should have a background color of #000
  background-color: $light-color;

  &:hover {
    // button should have a background color of #fff
    background-color: $dark-color;
    // button should have a border color of #fff
    border-color: $dark-color;
    // button should have a color of #000
    color: $light-color;
  }
}

.toggleThemeContainer {
  // button toggles the theme, its should be placed abolute on the bottem left
  position: absolute;
  bottom: 5.1rem;
  left: 0;
  // button should have a margin of 20px
  margin: 20px;
  // button should have a z-index of 1
  z-index: 1;

  // button should be responsive
}
