@import 'Colors.scss';

.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 100%;

  // Set the height to 100% of the viewport height
  // height: 90vh;

  // Set overflow to auto to enable scrolling

  // scroll bar
  scrollbar-width: thin;
  scrollbar-color: $text-color $light-color;
}

.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $text-color;
  font-size: 2rem;
  text-align: center;
}

.loading {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $text-color;
  font-size: 2rem;
  animation: pulse 1s infinite ease-in-out;
  text-align: center;
}
.loading::before {
  content: '\2026';
  animation: ellipsis 2s steps(5, end) infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

// appeare and dissapear transition when resizing the window

.box {
  height: 100%;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: calc(80vw / 4);
  padding: 1rem;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  filter: blur(0.1rem);
  border-radius: 0.5rem;
  animation: appear 0.5s ease-in-out;

  @media (max-width: 800px) {
    max-width: calc(80vw / 2);
  }

  @media (max-width: 630px) {
    max-width: calc(80vw / 1);
  }

  &:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1.02);
  }
}

.image:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1.02);
}

// blur video too

// .video {
//   width: 100%;
//   // center the video
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   // max-width: calc(80vw / 4);
//   padding-top: 2rem;
//   opacity: 0.8;
//   transition: all 0.2s ease-in-out;
//   filter: blur(0.1rem);
//   border-radius: 0.5rem;

//   &:hover {
//     opacity: 1;
//     filter: blur(0);
//     transform: scale(1.02);
//   }
// }

// .playing {
//   opacity: 1;
//   filter: blur(0);
//   transform: scale(1.02);
// }
