.uploadContainer {
    display: flex;
    align-items: center;
  }
  
  .uploadInput {
    display: none;
  }
  
  .uploadLabel {
    display: inline-block;
    padding: 12px 20px;
    background-color: var(--dark-color);
    color: #333;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: var(--light-color);
    }
  }
  
  .uploadIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: #333;
    /* Replace this with your desired icon styles */
  }
  