@use "../../tools/ColorPallet.scss" as pallet;

h1 {
  color: transparent;
  border-radius: 0.5em;
  background-position: center;
  background-image: url("https://media4.giphy.com/media/d3PcEfjRsLUqgTGZSE/giphy.gif?cid=ecf05e47rx7ioce7m8uvs3gx0ouxxstklfwlfknnn1wgu3dd&rid=giphy.gif&ct=g");
  background-size: cover;
  font-size: 3em;
  // mask out the text
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  // the text bold
  font-weight: 1000;
  text-align: center;
  // color shift to blue

  // text-shadow: 0px 0px 0.025em pallet.alpha(#fff, 0.9);
  // filter: drop-shadow(0px 0px 0.025em pallet.$color-primary);
}
