// Controls.module.scss
.controls {

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Aligns the buttons and time display at the ends */
    width: 100%;
    background-color: #000;
    height: 2.4rem;
    padding-bottom: 0.42rem;
    padding-left: 0.42rem;
    padding-top: 0.1rem;
    border: 3px solid var(--color-sub);
    border-top: none;
    border-bottom: none;


}

.playPauseButton {
    width: 30px;
    height: 20px;
    background-color: var(--color-add);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;

}

.controlButtonsContainer {
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.rigthSideControls {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 4px;
}

.controlSlider {
    // center the slider
    position: relative;
    top: 50%;
    height: 1.34rem;

    width: 12rem;

    // remove the default slider styling
    appearance: none;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    opacity: 1;
    overflow: hidden;

    transition: width 0.42s ease;

    // add the custom styling

    &.closed {
        width: 0;
        opacity: 0;
        transition: width 0.42s ease;
    }
}

.timeDisplay {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    right: 0;
    font-size: 16px;
    padding-left: 10px;
    background-color: var(--color-sub);
    color: var(--color-add);
    margin-left: 10px;
    padding-right: 10px;
}

.audioState {
    background-color: var(--color-add);
    border-radius: 10px;
    height: 24px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 4.2px;
    user-select: none;
    border: 1px solid transparent;
    animation: pulse 1s infinite alternate; // no warp
    white-space: nowrap;
    overflow: hidden;
    /* Add the animation here */
}

.audioStateText {
    font-size: 16px;
    color: var(--color-sub);
    /* Update the text color to a contrasting color */
    text-align: center;
    user-select: none;
}

.audioStateLoaded {
    animation: none;
}

/* Define the pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        /* Start with normal size */
    }

    100% {
        transform: scale(1.1);
        /* Scale up slightly */
    }
}