/* Common styles for both mobile and desktop */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // var(--color-sub-rgb) mix by 0.7
    background-color: rgba(var(--color-sub-rgb), 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay-content {
    color: var(--color-sub);
    background-color: var(--color-add);
    border-radius: 42px;
    padding: 20px;
    box-shadow: var(--box-shadow);
    text-align: center;
    max-width: 420px;
    border: 4.2px solid var(--color-sub);

    & h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    & p {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    & .buttons {
        display: flex;
        justify-content: center;

        & button {
            background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
            color: var(--color-light);
            font-weight: 700;
            text-transform: uppercase;

            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin: 0 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background: var(--color-sub);
                color: var(--color-primary);
            }
        }
    }

    & button:nth-child(2) {
        background: linear-gradient(to left, var(--color-primary), var(--color-secondary));
    }
}