// A File for defining the color pallet for the application

// Color pallet

// yin color (dark)
$yin-color: #000000;

// yang color (light)
$yang-color: #ffffff;

// primary color (red)
$color-primary: firebrick;

// secondary color (orange)
$color-secondary: #cacaca;

// color pallet.$color-primary; but with a 0.5 alpha
// function to generate a color with a 0.5 alpha from a variable
@function alpha($color, $alpha) {
  @return rgba($color, $alpha);
}
