.pages {
  height: 100%;

}

.pages__page {
  height: 90%;
  max-height: 90%;
  overflow: hidden;
}

.pages__pagecontrol {
  // display at end of page
  position: relative;

  // make it stick to the bottom center
  bottom: 0;
  width: 100%;
}
