@use "./Colors.scss" as pallet;

.pagecontrol {
  position: relative;
  bottom: 0;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  // also center horizontally
  align-items: center;

  // make it stick to the bottom center
}

.pagecontrol__button {
  height: 2em !important;
  width: 2em !important;
  // center the button
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 4em;
  margin-right: 4em;

  border-radius: 50%;
  background-color: pallet.alpha(pallet.$yang-color, 0.05);
  color: pallet.alpha(pallet.$yin-color, 1);

  // bold
  font-weight: 600;

  filter: invert(1);
}

.pagecontrol__button:hover {
  background-color: pallet.alpha(pallet.$yang-color, 0.1);
  color: pallet.alpha(pallet.$yin-color, 1);
}

.pagecontrol__button.disabled {
  background-color: pallet.alpha(pallet.$yang-color, 0);
  color: pallet.alpha(pallet.$yin-color, 0);

  // no drop shadow
  filter: none;

  // no hover
  pointer-events: none;
}
