@use "./Colors.scss" as pallet;

// .titlebar {
//   height: 30px;
//   background-color: pallet.alpha(pallet.$yin-color, 0.5);
//   user-select: none;
//   display: flex;
//   justify-content: flex-end;
//   margin-left: 10em;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 10;
// }

// .titlebar-right {
//   height: 30px;
//   background-color: pallet.alpha(pallet.$yin-color, 0.5);
//   user-select: none;
//   display: flex;
//   justify-content: flex-start;
//   position: fixed;
//   margin-right: 40em;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 10;
// }

div.titlebar > div {
  height: 30px;
  background-color: pallet.alpha(pallet.$yin-color, 0.5);
  user-select: none;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.titlebar-left {
  justify-content: flex-start;
  margin-left: 10em;
  height: 30px;
  background-color: pallet.alpha(pallet.$yin-color, 0.5);
  user-select: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 10em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.titlebar-right {
  justify-content: flex-end;
  margin-right: 40em;
  height: 30px;
  background-color: pallet.alpha(pallet.$yin-color, 0.5);
  user-select: none;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  margin-right: 40em;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: background-color 0.1s ease-in-out;
  background: rgb(0, 0, 0, 0.3);
}

.titlebar-button:hover {
  background: pallet.alpha(pallet.$color-secondary, 0.5);
}

.titlebar-button > img {
  filter: invert(1);
}

.titlebar-button:hover > img {
  filter: invert(1);
}
