@use "./Colors.scss" as pallet;

.titlebar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

div.titlebar {
  background-color: pallet.alpha(pallet.$yin-color, 0.8);
  height: 30px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

div.titlebar > div {
  height: 30px;
  user-select: none;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.titlebar-left {
  justify-content: flex-start;
  margin-right: 50%;
}

.titlebar-right {
  justify-content: flex-end;
  margin-left: 50%;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: background-color 0.1s ease-in-out;
  background: pallet.alpha(pallet.$yin-color, 0.2);
}

.titlebar-button:hover {
  background: pallet.alpha(pallet.$color-secondary, 0.5);
}

.titlebar-button > img {
  filter: invert(1);
}

.titlebar-button.toggled {
  background: pallet.alpha(pallet.$color-primary, 0.2);
}

.titlebar-button.toggled:hover {
  background: pallet.alpha(pallet.$color-primary, 0.5);
}