@use "./tools/ColorPallet.scss" as pallet;


#track-player {
  color: pallet.$yang-color;
  background-color: pallet.$yin-color;
}

#player-image {
  height: 4em;
  width: 4em;
  margin: 1em;
  border-radius: 12px;
}

.track-name {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.track-name figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.progress-indicator {
  width: 100%;
  padding-bottom: 1em;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.progress-bar {
  width: 80%;
  height: 10px;
  -webkit-appearance: none;
  background: pallet.$color-secondary;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  /* box-shadow: inset 0 0 1px rgba(0, 0, 0, 1); */
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: background 0.2s ease-in-out;
  background: pallet.$yin-color;
  cursor: pointer;
  box-shadow: -805px 0 0 800px pallet.$color-primary;
  border: 1px solid pallet.$yin-color;
}

.progress-bar-striped {
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 40px 40px;
}
.progress-bar.active,
.progress-bar.progress-bar-striped.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

/* make time stemps look smooth (current-time) and (duration) */
.current-time {
  font-size: 0.8em;
  margin-right: 0.5em;
}

.duration {
  font-size: 0.8em;
}

.play-btn {
  background-color: transparent;
  border-radius: 1em;
  padding: 0.5em;
  width: 5em;
  transition: scale 0.2s ease-in-out;
}
.controls-img:hover {
  scale: 1.1;
}
.controls-img:active {
  scale: 1;
}

#loading {
  filter: invert(0.5);
}

.controls-img {
  /*invert color*/
  filter: invert(1);
  width: 2em;
  height: 2em;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  opacity: 0.4;
}

.track-controls {
  display: flex;
  gap: 1em;
  flex-direction: row;
  margin-top: 1em;
}

.track-player-info {
  width: 30%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  box-sizing: border-box;
  height: auto;
}

.track-player-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 40%;
  min-width: 350px;
  align-items: center;
  /* justify-content: center; */
}

.track-player-other {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}
.visualizer-container {
  flex-grow: 1;
  /* display: none; */
}

.visualizer {
  width: 100%;
  height: 45%;

  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.volume-container {
  display: flex;
  margin-left: auto;
  align-items: center;
  width: 2rem;
  justify-content: center;
}

.volume-bar {
  transform: rotate(270deg);
  min-width: 5rem;
  height: 6px;
  -webkit-appearance: none;
  outline: none;
  border-radius: 3px;
  overflow: hidden;
  background: pallet.$color-secondary;
  /* box-shadow: inset 0 0 1px rgba(0, 0, 0, 1); */
}

.volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: background 0.2s ease-in-out;
  background: pallet.$yin-color;
  cursor: pointer;
  box-shadow: -403px 0 0 400px pallet.$color-primary;
  border: 1px solid pallet.$yin-color;
}

.volume-bar::-webkit-slider-thumb:active {
  background: white;
}
.volume-bar::-webkit-slider-thumb:hover {
  background: white;
}

#img-shuffle,
#img-repeat {
  scale: 0.7;
}
.darken {
  opacity: 0.5;
}
.darken:hover {
  opacity: 1;
}
.darken:active {
  opacity: 0.5;
}
#img-play {
  opacity: 1;
}
