@use "./tools/ColorPallet.scss" as pallet;


.titlebar-right {
  height: 30px;
  background-color: pallet.alpha(pallet.$yin-color, 0.5);
  user-select: none;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  margin-right: 40em;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.titlebar {
  height: 30px;
  background-color: pallet.alpha(pallet.$yin-color, 0.5);
  user-select: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 10em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.titlebar-reload-animate {
  animation: rotation 2s forwards ease-in-out;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

img.titlebar-img {
  filter: invert(1);
}

.titlebar-button:hover > img.titlebar-img {
  filter: invert(1);
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: background-color 0.1s ease-in-out;
  background: rgb(0, 0, 0, 0.3);
}

.titlebar-button:hover {
  background: pallet.alpha(pallet.$color-secondary, 0.5);
}

#close:hover {
  background: pallet.alpha(pallet.$color-primary, 0.5);
}
