@use "./tools/ColorPallet.scss" as pallet;

.welcome {
  background-color: pallet.$yin-color;
  color: pallet.$yang-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  height: 100vh;


  // not srcollable
  overflow: hidden;

}
