// Controls.module.scss
.controls {

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Aligns the buttons and time display at the ends */
    width: 100%;
    background-color: #000;
    height: 2.4rem;
    padding-bottom: 0.42rem;
    padding-left: 0.42rem;
    padding-top: 0.1rem;
    border: 3px solid var(--color-sub);
    border-top: none;
    border-bottom: none;
}

.controlButton {

    background-color: var(--color-add);
    color: var(--color-sub);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;

    cursor: pointer;

    &:hover {
        background-color: var(--color-sub);
        color: var(--color-add);
        box-shadow: 0 0 5px var(--color-add);
    }
}

.playPauseButton {
    width: 30px;
    height: 20px;
    background-color: var(--color-add);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;

}

.controlButtonsContainer {
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.timeDisplay {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    right: 0;
    font-size: 16px;
    padding-left: 10px;
    background-color: var(--color-sub);
    color: var(--color-add);
    margin-left: 10px;
    padding-right: 10px;
}


.invertedImage {
    position: relative;
    top: 2px;
    filter: var(--filter);
}

.invertedImage:hover {
    filter: var(--filter-hover);
}

.trackState {
    background-color: var(--color-sub);
    border-radius: 10px;
    padding: 0px 5px;
    height: 24px;
    color: var(--color-sub);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
    border: 3px solid var(--color-add);
    border: 3px solid transparent;
}

.trackStateText {
    font-size: 16px;
    color: #ffffff;
    /* Update the text color to a contrasting color */
    text-align: center;
    user-select: none;
}