@use "../../tools/ColorPallet.scss" as pallet;
.add-node {
  // filter: invert(1);
  // animation: arrow_rotate 0.42s ease-in-out;
  // // hold the animation at the end state
  // animation-fill-mode: forwards;
}

.table-new-element {
  height: 1.5em;
  width: 1.5em;
  background-color: pallet.alpha(pallet.$yang-color, 1);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  // on right side
  margin-left: auto;
  // margin-right: 1em;
  background: url("https://api.iconify.design/material-symbols/add-rounded.svg") no-repeat center center / contain;
  filter: invert(100%);
}

.table-new-element:hover {
  cursor: pointer;
  background-color: pallet.alpha(pallet.$yang-color, 1);
  filter: invert(0%);
}

.input-container {
  padding-top: 0.1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  // justify-content: space-between;
  gap: 0.5em;
  // margin-left: 2px;
  // height: 1.5em;

  padding-left: 0.5em;

  // center horizontally and vertically
  // display: flex;
  // flex-direction: row;
}

.input-container__input {
  border: 3px solid pallet.$color-primary;
  border-radius: 0.5em;
  padding-left: 0.5em !important;
  background-color: pallet.$yang-color;
  // transition: 0.05s;
  width: 70%;
  color: pallet.$yin-color;
}

input[type="text"] {
  background: transparent;
  border: none;
}

.input-container__picker {
  height: 2em;
  width: 2em;
  padding-right: 3em !important;

  // center horizontally and vertically
  display: flex;
  // flex-direction: row;
  justify-content: center;
}

.new-element-input {
  font-size: 1em;
  width: 30%;
  border: 0px;
  // color: pallet.$yin-color;
}

.new-element-input:hover {
  // border: 1px solid pallet.alpha(pallet.$yang-color, 1) !important;
}

// dont show block border when input is focused
.new-element-input:focus {
  outline: none;
}
