.canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: var(--font-family);
  z-index: 0;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  font-family: var(--font-family);
  overflow: hidden;
}

.content {
  flex-grow: 1;
  max-width: 100%;
  min-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-add);
  font-family: var(--font-family);
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .content {
    padding: 1rem 1rem;
  }
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  font-family: var(--font-family);
  height: 100%;
}