@use "./../tools/ColorPallet.scss" as pallet;

@use "./elements/Header";
@use "./elements/Track";
@use "./elements/Node";
@use "./elements/Details";

div.table {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  color: pallet.$yang-color;
  background-color: pallet.$yin-color;
}

ul {
  list-style-type: none;
}


.dragging-file .table {
  background-color: pallet.alpha(pallet.$color-primary, 0.2);
}

.track-table {
  width: inherit;

  #track-list {
    padding: 0;
  }
}

.track-row {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  gap: .5em;
  height: 1.5em;
  overflow: hidden;
  padding: .25em;

  > *:not(:last-child){
    margin-right: .5em;
    margin-left: 0;
  }

  > :nth-last-child(2){
    margin-right: auto;
    margin-left: 0;
  }

  td{
    display: flex;
  }
}

.track-row.selected {
  background-color: pallet.$yang-color;
  color: pallet.$yin-color;
}