/* Styles for waveform container */
.waveformContainer {
  width: 99%;
  position: relative;
  left: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: var(--font-family);

  /* Adjust as needed */
  overflow: hidden;
  // background-color: var(--color-add)z-index: 6;;

  /* Adjustable background color */
}

/* Styles for waveform bars */
.waveform {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Styles for individual waveform bar */
.bar {
  position: absolute;
  bottom: 0;
  width: 2%;
  /* Adjust as needed */
  background-color: var(--color-primary);
  /* Adjustable bar color */
}

/* Styles for progress bar */
.progressBar {
  position: absolute;
  bottom: 0;
  height: 100%;
  background-color: var(--color-seccundary);
  /* Adjustable progress bar color */
}

.waveformWrapper {
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border: 5px solid var(--color-sub);
  background-color: var(--color-add);
  height: 100%;
  width: 100%;
}


/* CSS */
.sceneDisplay {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sceneDisplayBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-add);
}

.sceneDisplayName {
  // all caps
  text-transform: uppercase;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-add);
}

.sceneDisplayWrapper {
  height: 0vh;
  overflow: hidden;
}