.waveformBarsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: max-content;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    transition: height 0.3s ease-in-out;

}

.bar {
    // Base bar styles
    position: absolute;
    bottom: 0;
}

.currentProgress {
    animation: blink 0.42s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0.5;
        background-color: var(--color-light);
    }

    50% {
        opacity: 0.2;
        background-color: var(--color-primary);
    }

    100% {
        opacity: 2.0;
        background-color: var(--color-light);
    }
}