.settings {
    /* Common styles for both mobile and desktop */
    position: relative;
    background-color: var(--color-add);
    color: var(--color-sub);
    padding: 10px;
    top: -5px;
    font-family: var(--font-family);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid var(--color-sub);
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.settingsInside {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}