/* VideoLoading.module.scss */

.loading_showcase {
    display: flex;
    align-items: center;
    // spacing between showcase and dashboard

    // all in flex horizontal line no matter what

    // change flex to vertical line
    flex-direction: row;

    gap: 0px;
    padding: 0.42rem;
    background-color: var(--color-dark);

}


.loading_orb {


    width: 20px;
    height: 20px;
    background-color: gray;
    border: 2px solid var(--color-add);
    border-radius: 21%;
    margin-right: 0.1rem;
    transition: background-color 0.3s ease-in-out;
}

.loading_orb.success {
    background-color: #28a745;
    /* Green for success */
}

.loading_orb.error {
    background-color: #dc3545;
    /* Red for error */
}

.loading_orb.loading {
    background-color: #ffc107;
    /* Yellow for loading */
}

.error {
    cursor: pointer;
    color: #dc3545;
    /* Red for error */
}

.error_details {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.error_details.show {
    max-height: 100px;
    /* Adjust the max height as needed */
}

.error_details>div {
    margin-top: 4px;
    color: #dc3545;
    /* Red for error */
}