@use "../../tools/ColorPallet.scss" as pallet;

// .node-open-element-row {
//   // display: flex !important;
//   // justify-content: right !important;
// }

.node-open-element {
  background-image: url("https://api.iconify.design/material-symbols/keyboard-arrow-down-rounded.svg");
  background-size: 2em;
  width: 1.6em;
  height: 1.6em;
  background-repeat: no-repeat;
  background-position: center;
  // align-items: center;
  transform: rotate(90deg);
  filter: invert(100%);
  border-radius: 20%;

  // display: flex;
  // flex-direction: row;
  // justify-content: right;

  // all animation esse in and out
}

.node-open-element:hover {
  background-color: pallet.$yang-color;
  border-radius: 50%;
  filter: invert(0%);
}

.node-open-element.destination-index.destination-dropin {
  background-color: pallet.$yang-color;
  border-radius: 50%;
  filter: invert(0%);
}

.node-open-element.dragging {
  filter: invert(0%);
  // display: none !important;
}

.node-open-element.dragging:hover {
  filter: invert(0%);
  // display: none !important;
}

.node-open-element.dragging-node.source-index {
  filter: invert(0%) !important;
  display: none !important;
  // red border
  // border: 4px solid #ff0000;
}

.node-open-element.dragging-track.destination-index {
  background-color: pallet.$yang-color;
  border-radius: 50%;
  filter: invert(0%);
}

// .node-open-element:hover {
//   // filter: invert(0%);
//   // border: 4px solid pallet.$yin-color;
//   border-radius: 50%;
//   cursor: pointer;
// }

// .node-open-element-row {
//   height: 1.5em;
//   width: 2em;
// }

// .node-open-element-opened {
//   animation: open 0.5s;
//   animation-fill-mode: forwards;
// }

// .node-open-element-dropping {
//   filter: invert(0%);
//   border-radius: 50%;
//   background-color: pallet.$yang-color;
// }

// @keyframes open {
//   0% {
//     border-radius: 0%;
//     transform: rotate(90deg);
//   }
//   100% {
//     transform: rotate(0deg);
//     border-radius: 50%;
//   }
// }
